
<p><%= "prénom: #{@author.first_name}" %></p>

<p><%= "nom: #{@author.last_name}" %></p>

<p><%= "description: #{@author.description}" %></p>

<p><%= "email: #{@author.email}" %></p>

<p><%= "âge: #{@author.age}" %></p>

<p><%= "ville: #{@author.city.name}" %></p>









