<!DOCTYPE html>
<html>
  <head>
    <title>TheGossipProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
   <! La ligne du dessus permet d'aller chercher le framework bootstrap, le code en dessous de le mettre en forme>
   
   </head>


   <body>

   
   <header class="header">

   
   
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
 <a class="navbar-brand" href="/.">TheGossipProject</a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
 </button>
 <div class="collapse navbar-collapse" id="navbarNav">
   <ul class="navbar-nav">
   
     <li class="nav-item">
       <%= link_to "Contact", contact_path, class:"nav-link" %>
     </li class="nav-item">
      <%= link_to "Team", team_path, class: "nav-link" %>
     <li> 
     </li>
   </ul>
 </div>
</nav> 

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    </header>


    <%= yield %>
  </body>
</html>
